@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
   font-family: "Open Sans", sans-serif;
}

span{
    color: #ff5400;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    
    
}

ul{
 
    display: flex;
    
}
li{
    list-style: none;
    padding-right: 20px;
    color: #424247;
    font-size: 18px;
}
li a{
       text-decoration: none;
    }
   
.hero{
    display: flex;
    align-items: center;
    
    
}
.baba{
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;

}
.son{
    text-align: center;
    color: white;
    padding: 106px 185px;

    
}
.newbtn{
    background-color: #ffffff4d;
    border-radius: 5px;
    
    

}
.btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #131318;
    background-color: ;
    margin: 16px 16px 16px 16px;
}
.color{
    color: wheat;
    background-color: #FF5400;
    border: none;
    padding: 10px;
    border: navajowhite;
}
.color-btn{
    background-color: #ff5400;
    color: white;
    padding: 10px;
    border: none;
    
}
.perakaj{
    display: flex;
    margin: 127px;
    
    
}
.pera{
   font-size: 16px;
   width: 218px;
   height: px;
   
}
.a{
    width: 550px;
    height: 50px;
}
.b{
    width: 540px;
    height: 550px;
}
.c{
    text-align: center;
    
}
.d{ 

    height: 300px;
    width: 573px;
    margin: 135px;
    display: flex;
    gap: 24px;
}
.e{
    margin: 135px;
    
}
.pica{
    width: 374px;
    height: 286px;
}
.picb{
    width: 474px;
    height: 286px;
}
.picc{
    width: 274px;
    height: 286px;
}
.f{
    margin: 135px;
}
.aa{
    width: 473px;
    height: 300px;
}
.bb{
    width: 673px;
    height: 300px;
}
.pp{
    text-align: center;
}
.boxarkaj{
   display: flex;
   gap: 24px;
   justify-content: center;

}
.div3{
    background-color: #edeae0;
    border: 1px solid black;
    height: 284px;
    width: 573px;
    /* margin: 160px; */
    margin-left: 433px;
    margin-right: 433px;
    margin-top: 24px;
    border: none;
    padding: 32px 32px 55px;
    
}
.div1{
    background-color: #fffaed;
    border: 1px solid black;
    height: 284px;
    width: 573px;
    border: none;
    padding: 32px 32px 55px;
}
.div2{
    background-color: #edfff3;
    border: 1px solid black;
    height: 284px;
    width: 573px;
    border: none;
    padding: 32px 32px 55px;
}
.bold{
    color: #131318;
    size: 24;
}
.cotopera{
    color: #5A5A5D;
    size: 16;
}
.majkhane{
    text-align: center;
    margin-left: 399px;
    margin-right: 399px;
    color: #131318;
}

.pic1{
    background-image: url(Images/Group\ 39.png);
    background-repeat: no-repeat;
    width: 1170;
    height: 500px;
    margin-left: 135px;
    margin-right: 135px;
}
.sadaOngso{
    width: 579;
    height: 389px;
    background-color: rgba(255, 255, 255, 0.953);
    margin-top: 0px;
    margin-bottom: 55px;
    margin-left: 535px;
    margin-right: 55px;
}
.co{
    color: #FF5400;
    font-weight: 188;
    font-size: 25px;
}
.BT{
    padding: 15px;
    color: #FFFFFF;
    background-color: #FF5400;
    border: none;
   
}
.margin{
    margin: 50px 77px 50px 50px;
}
.pic2{
    background-image: url(Images/Group\ 40.png);
    background-repeat: no-repeat;
    width: 1170;
    height: 500px;
    margin-left: 135px;
    margin-right: 135px;
}
.sadaOngso1{
    width: 579;
    height: 389px;
    background-color: rgba(255, 255, 255, 0.953);
    margin-left: 55px;
    margin-right: 535px;
}
.margin1{
    margin: 50px 77px 50px 50px;
}
.pic2{
    margin-top: 24px;
    margin-bottom: 24px;
    
}
.All{
    color: #FFFFFF;
    background-color: #FF5400;
    padding: 15px;
    border: none;
    margin-left: 615px;
    margin-right: 615px;
    margin-top: 48px;
}